:root {
  --text-primary: white;
  --text-secondary: #FFFFFF;
  --bg-primary: #2c2c2c;
  --bg-secondary: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 1024px;
  
}